<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="d-flex justify-content-center p-4 my-5">
            <%- include('../partials/form') %>
        </div>
        <div class="mt-4">
            <%- include('../partials/footer') %>
        </div>
</body>

</html>